@import "tailwindcss";

body {

  background-image: url("../images/main/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}


h1, h2, h3, p {

  font-family: "B Mitra";
  user-select: none;
  
}

button {

  font-family: "B Koodak";
}
