@import "tailwindcss";

body {

  background-image: url("../images/main/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}


h1, h2, h3, p {

  font-family: "B Mitra";
  user-select: none;
  
}

button {

  font-family: "B Koodak";
}

.templates-body {

  min-height: 100vh;
  display: grid;
  place-items: center;
}

.slider {
  height: 250px;
  position: relative;
  width: 80%;
  border-radius: 25px;
  display: griD;
  place-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.450);
}

.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {

  0% {

    transform: translateX(0);

  }

  100% {

    transform: translateX(calc(-250px * 9));

  }
}

.slide {

  height: 200px;
  width: 250px;
  display: center;
  align-items: center;
  padding: 22px;
  perspective: 100px;
}

.templateImage {
  width: 100%;
  transition: transform 1%;
  border-radius: 15px;
  box-shadow: 1px 2px 4px black;
  border: 1px solid black;
}

.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {

  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%,
      rgb(0, 0, 0, 0) 100%);


  top: 0;
  left: 0;
}

.slider::after {

  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%);

  top: 0;
  right: 0;
}